[Unit]
Description=Check Restic backup with full restore test quarterly

[Timer]
OnCalendar=quarterly
RandomizedDelaySec=12h

[Install]
WantedBy=timers.target
