[Unit]
Description=Full restore test from restic to %i
Before=restic-check@%i.service restic-prune@%i.service restic-backup@%i.service
OnFailure=restic-send-failure@%n.service
RequiresMountsFor=/srv/store1/restic /srv/store1/sten


[Service]
Type=oneshot
EnvironmentFile=/srv/store1/restic/conf/restic-env-global
EnvironmentFile=/srv/store1/restic/conf/restic-env-%i
ExecStart=/usr/local/bin/restic $RESTICOPTS check --full
ExecStopPost=/usr/local/bin/restic $RESTICOPTS unlock


[Install]
WantedBy=default.target
